<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">

<style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  #mc_embed_signup label {
    text-align: center;
  }
  #mc_embed_signup input.email {
    width: 100%;
  }
  
  #mc_embed_signup input.button {
    margin: auto;
  }
  
  #mc_embed_signup form {
    width: 58%;
    margin: auto;
  }
</style>
