---
---

// Site specific customisations

@font-face {
  font-family: Nunito;
  src: url('Nunito-Black.ttf');
}

.navbar-custom {
  background-color: {{ site.navbar-col | default: "#EAEAEA" }};
  border-bottom: 1px solid {{ site.navbar-border-col | default: "#DDDDDD" }};
  font-family: Nunito, sans-serif;
  {% if site.navbar-img %}
    background-image: url({{ site.navbar-img | relative_url }});
    background-attachment: fixed;
  {% endif %}
  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
