---
---

// Site specific customisations

@font-face {
  font-family: Nunito;
  src: url('Nunito-Black.ttf');
}

.navbar-custom {
  font-family: Nunito, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
}
h1 {
  font-size: 2rem;
}
