---
---

// Site specific customisations

body {
  font-size: 1.125rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Visitor;
  src: url(visitor2.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: Visitor;
  text-transform: uppercase;
  // line-height: 1.5;
}

.navbar-custom {
  font-weight: normal;
  font-family: Visitor;
  padding-top: 0;
  padding-bottom: 0;
  }
